* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: clamp(200px, 20%, 250px);
  background-color: #1a1a1a;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style-type: none;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: #2a2a2a;
}

.sidebar-footer {
  margin-top: auto;
}

.logo-img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

header {
  margin-bottom: 30px;
}

.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.home-search-bar input {
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
  width: clamp(370px, 100%, 300px);
}

.home-nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-nav-links a:hover {
  background-color: #8e44ad;
}

.home-user-menu {
  position: relative;
}

.home-user-menu img {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.home-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1a1a1a;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.home-dropdown-menu p,
.home-dropdown-menu a {
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.home-dropdown-menu a:hover {
  background-color: #8e44ad;
}

.home-logout {
  color: red;
}

.home-user-menu:hover .home-dropdown-menu {
  display: block;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

.schools-section,
.courses-section,
.routes-grid,
.progress-stats,
.chat-container {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.schools-section {
  overflow-x: auto;
  white-space: nowrap;
}

.schools-grid {
  display: inline-flex;
  background-color: transparent;
  justify-content: space-evenly;
  gap: 40px;
  overflow-x: auto;
  padding: 10px 0;
  min-width: 1000px;
  scrollbar-width: thin;
}

.schools-grid::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
}
.schools-grid::-webkit-scrollbar-thumb {
  background-color: #8e44ad; /* Color de la barra de desplazamiento */
  border-radius: 10px;
}

.school-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

.school-button:hover {
  transform: scale(1.1);
}

.school-icon {
  width: 60px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.school-icon img {
  width: 100%;
  height: auto;
  background-image: transparent;
}

.courses-grid {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas de curso */
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  padding: 10px 0;
  scrollbar-width: thin; /* Para Firefox */
}

.courses-grid::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
}

.courses-grid::-webkit-scrollbar-thumb {
  background-color: #8e44ad; /* Color de la barra de desplazamiento */
  border-radius: 10px;
}

.course-card {
  background-color: #333; /* Fondo oscuro para contraste */
  border-radius: 8px;
  padding: 15px;
  min-width: 600px; /* Ancho mínimo para cada tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff; /* Texto blanco para contraste */
  text-align: center;
}

.course-card iframe {
  max-width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.course-card p {
  font-size: 14px;
  margin-top: 5px;
}

.progress-bar {
  background-color: #1a1a1a;
  border-radius: 5px;
  margin: 10px 0;
  height: 20px;
  overflow: hidden;
}

.progress {
  background-color: #8e44ad;
  height: 100%;
}

.continue-btn {
  background-color: #8e44ad;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.progress-stats {
  display: flex;
  justify-content: space-between;
  background-color: #2c2c2c; /* Fondo oscuro para contraste */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.progress-stats:hover {
  transform: scale(1.05);
}

.stat-card {
  flex: 1;
  text-align: center;
  color: #fff;
  position: relative;
}

.stat-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ddd;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
}

.activity-list {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.activity-list li {
  background-color: #1a1a1a;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.activity-list li:hover {
  background-color: #333; /* Cambio de color al pasar el ratón */
}

.chat-container {
  display: flex;
  height: 500px;
  background-color: #1a1a1a; /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-sidebar {
  width: 200px;
  background-color: #2c2c2c; /* Fondo más claro para el sidebar */
  padding: 20px;
  border-right: 1px solid #444; /* Línea de separación */
}

.chat-sidebar h3 {
  color: #fff; /* Color del título */
  margin-bottom: 20px;
}

.chat-list {
  list-style-type: none;
  padding: 0;
}

.chat-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-list li:hover {
  background-color: #444; /* Color al pasar el ratón */
}

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-header {
  padding: 20px;
  background-color: #2c2c2c; /* Fondo del encabezado */
  border-bottom: 1px solid #444;
  color: #fff; /* Color del texto */
}

.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #1a1a1a; /* Fondo de los mensajes */
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #2c2c2c; /* Fondo del input */
  border-radius: 5px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444; /* Fondo del input */
  color: #ffffff; /* Color del texto */
}

.chat-input button {
  background-color: #8e44ad; /* Color del botón */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: #732d91; /* Color al pasar el ratón */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .home-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-search-bar,
  .home-nav-links,
  .home-user-menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .chat-container {
    flex-direction: column;
    height: auto;
  }

  .chat-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #2a2a2a;
  }
}

/* Style for the streak logo */
.streak-container {
  position: relative; /* Position relative to allow absolute positioning of the streak-info */
}

.streak-logo {
  width: 44px; /* Adjust size as needed */
  height: 9%;
  cursor: pointer;
  vertical-align: middle; /* Align with text */
}

.streak-info {
  position: absolute;
  top: 30px; /* Position directly below the streak logo */
  left: -50px; /* Center the info box relative to the logo */
  width: 200px; /* Make the info box wider */
  background-color: #1a1a1a; /* Light background for contrast */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* Ensure it appears above other elements */
  transition: opacity 0.3s ease; /* Smooth transition for appearance */
}

.streak-info p {
  margin: 5px 0;
  font-size: 16px; /* Slightly larger font */
  color: #fff; /* Softer text color */
}

#streakFire {
  font-size: 24px; /* Larger font for the fire emoji */
  text-align: center; /* Center the emoji */
}

.routes-grid {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las tarjetas de ruta */
  padding: 20px;
  background-color: #2c2c2c; /* Fondo oscuro para contraste */
  border-radius: 10px;
}

.route-card {
  background-color: #3a3a3a; /* Fondo de la tarjeta */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff; /* Texto blanco para contraste */
}

.route-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.route-card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.progress-bar {
  background-color: #444; /* Fondo de la barra de progreso */
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 15px;
}

.progress {
  background-color: #8e44ad; /* Color de la barra de progreso */
  height: 100%;
  border-radius: 5px;
}

.continue-btn {
  background-color: #8e44ad; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-btn:hover {
  background-color: #732d91; /* Color del botón al pasar el ratón */
}
