/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Container Styles */
.container-initial, .container, .container-payment {
  padding: 2rem;
}

.container-initial {
  padding: 0;
  background-image: linear-gradient(rgba(0,0 , 0, 0.7), rgba(0, 0, 0, 0.5)),
      url("https://wallpapercave.com/wp/wp7886739.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  
}
/* 
.container {
  background-image: url("/Client/Images/fondo_hollow\ knight.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: initial;
}

.container-payment {
  background: linear-gradient(135deg, #1c3541, black, #050505);
  color: #ffffff;
  text-align: center;
} */

/* Navbar Styles */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 3rem;
  width: auto;
  margin-right: 0.5rem;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: grey;
}

/* Hero Section Styles */
.hero {
  text-align: center;
  padding: 2rem 1rem;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.hero h1 span {
  color: #00ff00;
}

.hero p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  margin: 1.5rem auto;
  max-width: 700px;
  color: #c4c8ce;
}

.hero h2 {
  color: #c4c8ce;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  margin: 1.5rem 0;
  font-weight: bold;
}

.start-learning {
  padding: 0.7rem 1.5rem;
  background-color: white;
  color: black;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.start-learning:hover {
  background-color: gray;
}

/* Learning Areas Styles */
.learning-areas {
  text-align: center;
  padding: 2rem 1rem;
}

.learning-areas h2 {
  color: white;
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 2rem;
  font-family: Play, sans-serif;
}

.area-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.area-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.area-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.area-card span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.area-card h3 {
  font-size: 18px;
  color: white;
  font-weight: normal;
  font-family: Play, sans-serif;
}

/* Authority Section Styles */
.authority-section {
  display: flex;
  align-items: center;
  justify-content: flex-start ;
  margin-left: 4rem;
}

.text-content {
  max-width: 800px;
}

.text-content h2 {
  font-size: clamp(1.5rem, 4vw, 1.9rem);
  margin-bottom: 20px;
  color: white;
}

.text-content ul {
  list-style-type: none;
}

.text-content li {
  margin-bottom: 10px;
  position: relative;
  font-size: clamp(1rem, 3vw, 1.3rem);
  padding-left: 40px;
  color: #c4c8ce;
}

.text-content li::before {
  content: "✅";
  position: absolute;
  left: 0;
}

/* Pricing Section Styles */
.pricing-section {
  padding: 2rem 1rem;
}

.pricing-section h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 2rem;
  text-align: center;
}

.plan-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.plan-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border: 1px solid whitesmoke;
}

.plan-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 1rem 0;
}

.plan-card ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 1rem 0;
}

.plan-card ul li {
  text-align: left;
  font-size: 1rem;
  margin-top: 10px;
}

.subscribe-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.subscribe-button:hover {
  background-color: #7cfc00;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar, .buttons {
      justify-content: center;
  }

  nav ul {
      margin-top: 1rem;
      justify-content: center;
  }

  .hero, .learning-areas, .authority-section, .pricing-section {
      padding: 1rem;
  }

  .area-cards {
      grid-template-columns: 1fr;
  }

  .plan-card {
      max-width: 100%;
  }
}
