body,
html {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(135deg, #0f2027, black, #0e1b0e);
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  margin: 18px;
}

.logo-container img {
  height: 3rem;
  width: auto;
  margin-right: 0.5rem;
  animation: bounce 1.5s infinite;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 50px 80px;
  padding-bottom: 0;
}

.payment-form {
  background-color: #0f2027;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: white;
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  font-size: 18px;
  border-radius: 4px;
  box-sizing: border-box;
  color: white; /* Color del texto en los inputs */
  background-color: black; /* Fondo de los inputs */
}

input:focus {
  border-color: whitesmoke;
  border-width: 1px;
  outline: none;
}

.card-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.submit-button {
  background-color: #202122;
  color: white; /* Color del texto en el botón */
  border: none;
  padding: 12px 20px; /* Aumentado el padding */
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: gray; /* Color al pasar el mouse */
}

.pricing-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #2a2a2a;
  color: white;
}

.pricing-section h2 {
  margin-bottom: 30px;
  color: white;
}

.plan-card ul li {
  text-align: left;
  font-size: 1rem;
  margin-top: 10px;
  color: white; /* Color del texto en la lista */
}

.plan-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.plan-card {
  border-radius: 10px;
  padding: 20px;
  width: 300px; /* Ancho fijo para la tarjeta de plan */
  border: 1px solid whitesmoke;
  line-height: 1.5;
  background-color: #0f2027; /* Fondo para que coincida con el formulario */
  color: white; /* Color del texto */
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
